<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>

  <div style="margin-bottom: 20px";>Name: <%= f.text_field :name %>
  Email: <%= f.text_field :email %>
  </div>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <div style="margin-top: 20px";>
  <%= f.submit "Submit" %>
  </div>

<% end %> 